body {
    background: palegreen;
}

h1 {
    justify-content: center;
}

p {
    margin: 0;
}

.card {
    height: 300px;
    width: 18rem;
}

.container {
    margin: auto;
}

#map {
    width: 100vw;
    height: 700px;
}